<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Car</title>
</head>
<body>
<div style='text-align:center; width:100%'>

<h2>Введите данные автомобиля.</h2>
<br>

<form th:method="POST" th:action="@{/cars}" th:object="${cars}">
    <label for="model">Модель:</label>
    <input type="text" th:field="*{model}" id="model"/>
    <div style="color: red" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Name error</div>
    <br/>
    <br/>
    <label for="color">Цвет: </label>
    <input type="text" th:field="*{color}" id="color"/>
    <div style="color: red" th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Name error</div>
    <br/>
    <br/>
    <label for="color">Мощность </label>
    <input type="text" th:field="*{power}" id="power"/>
    <div style="color: red" th:if="${#fields.hasErrors('power')}" th:errors="*{power}">Name error</div>
    <br/>
    <br/>
    <input type="submit" value="Создать">

</form>
</div>
</body>
</html>